.busqueda-form{
    margin: 20px;
    padding: 10px
    

}


.busqueda-input{
    padding: 8px;
    font-size:16px;
    width: 200px;
    margin-right: 10px;
    border: 3px solid #8692ff;
    border-radius: 20px;
 
}


.btn-buscar{
    padding: 8px 16px;
    font-size:16px;
    background-color: rgb(179, 169, 240);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    
}

.btn-buscar:hover {
    background-color: rgb(108, 39, 199);
}


.btn-cancelar {
    padding: 8px 16px;
    font-size:16px;
    background-color: rgb(179, 169, 240);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
